.select--full-width {
  width: 100%;
}
.select--icon {
  width: 232px;
}
.select--margin-right {
  margin-right: 64px;
}
.select-row {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
  width: 100%;
}
.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 40px);
}
